.next
/node_modules

# Dependency directories
node_modules/

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-error.log*
yarn.lock*

#Serverless directtories
node_modules